body {
  font-family: Arial, Helvetica, sans-serif;
}

div.Title h3 {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

div.wrapper {
  border: 2px solid;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

i {
  font-size: 60px;
  margin: 20px;
}

p.topsymbol {
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.formCity {
  margin: 10px;
}

.changeCity {
  margin: 10px 0px;
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}

.changeCity:hover {
  opacity: 1;
  cursor: pointer;
}
